<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>High/Low Game</title>
  </head>
  <body style="background-color: hotpink">

    <div style="color: yellow">
      <h1>High/Low Game</h1>
      <p>Your number: <%= @your_num %></p>
      <p>Secret number: <%= @num %></p>
      <p>Your guess was: <%= @result_string %></p>
    </div>

  </body>
</html>
